---
import Layout from "../layouts/Layout.astro";
import InputSelect from "../components/InputSelect.astro";
import InputSearch from "../components/InputSearch.astro";
import Card from "../components/Card.astro";
import getCountries from "../api/countries";
const countriesAll = await getCountries();
---

<Layout title="Countries Rest">
  <main class="container mx-auto p-5">
    <div class="lg:flex justify-between w-full">
      <nav
        class="bg-white dark:bg-Dark-blue mb-10 lg:mb-0 shadow-md rounded-md overflow-hidden flex items-center pl-3 gap-x-3">
        <p class="text-Dark-gray">
          <i class="fa-solid fa-magnifying-glass"></i>
        </p>
        <InputSearch />
      </nav>
      <InputSelect />
    </div>
    <section class="mt-10 px-8 lg:px-0">
      <ul
        id="containner"
        class="grid gap-8 grid-cols-1 lg:grid-cols-4 sm:grid-cols-2">
        {
          countriesAll
            ?.slice(0, 40)
            .map((country: any) => (
              <Card
                name={country.name.common}
                population={country.population}
                img={country.flags.svg}
                region={country.region}
                capital={country.capital}
              />
            ))
        }
      </ul>
    </section>
  </main>
</Layout>

<script>
  import getCountry from "../api/country.js";
  import getRegion from "../api/region";

  const containner = document.querySelector("#containner");
  const inputSearch = document.querySelector("#inputSearch");
  const inputSelect = document.querySelector("#select");

  inputSearch.addEventListener("input", async (e: any) => {
    if (e.target.value === "") return;
    const countries = await getCountry(e.target.value);
    let newContent = "";
    countries.forEach((country: any) => {
      newContent += `<li class="link-card shadow-md rounded-md overflow-hidden bg-white dark:bg-Dark-blue"">
  <a href="/country/${country.name.common}" class="bg-white">
    <img src='${country.flags.svg}' alt=" " class="h-40 w-full object-cover" />
    <div class="p-4">
      <h2 class="">${country.name.common}</h2>
      <p class=""><span>Population:</span> ${country.population}</p>
      <p>Region:<span>${country.region}</span></p>
      <p>Capital:<span>${country.capital}</span></p>
    </div>
  </a>
</li> `;
    });
    containner.innerHTML = newContent;
  });
  inputSelect.addEventListener("change", async (e: any) => {
    const countries = await getRegion(e.target.value);
    let newContent = "";
    countries.forEach((country: any) => {
      newContent += `<li class="link-card shadow-md rounded-md overflow-hidden bg-white dark:bg-Dark-blue"">
  <a href="/country/${country.name.common}" class="bg-white">
    <img src='${country.flags.svg}' alt=" " class="h-40 w-full object-cover" />
    <div class="p-4">
      <h2 class="">${country.name.common}</h2>
      <p class=""><span>Population:</span> ${country.population}</p>
      <p>Region:<span>${country.region}</span></p>
      <p>Capital:<span>${country.capital}</span></p>
    </div>
  </a>
</li> `;
    });
    containner.innerHTML = newContent;
  });
</script>
