---
interface Props {
  name: string;
  population: string;
  img: string;
  region: string;
  capital: string;
}

const { name, population, img, region, capital }: Props = Astro.props;
---

<li
  class="link-card shadow-md rounded-md overflow-hidden bg-white dark:bg-Dark-blue">
  <a href=`/country/${name}`>
    <img src={img} alt=" " class="h-40 w-full object-cover" />
    <div class="p-4">
      <h2 class="">{name}</h2>
      <p class=""><span>Population:</span> {population}</p>
      <p>Region:<span>{region}</span></p>
      <p>Capital:<span>{capital}</span></p>
    </div>
  </a>
</li>
